include _value.pug
header
	a(href=local)
		figure
			img(src=assets+"favicon.svg", alt=siteName width="64px")
			figcaption #{siteName}

	nav: ul
		li: a(href=local+"shorthand-animation/") animation:
		li: a(href=local+"shorthand-background/") background: